:root,
:root.dark {
  --vp-c-accent: #f7931b;
  --vp-c-accent-soft: #f9aa4b;
  --vp-c-accent-bg: var(--vp-c-accent);
  --vp-c-accent-text: var(--vp-c-white);
  --vp-c-accent-hover: var(--vp-c-accent-soft);
  --back-to-top-c-accent-bg: var(--vp-c-accent);
  --homepage-width: 50rem;
  --sidebar-width: 24rem;
  --tip-c-soft: rgba(0, 134, 201, .15);
  --tip-c-accent: rgba(0, 134, 201, 1);
  --tip-c-text: rgba(0, 134, 201, 1);

  scroll-behavior: smooth;
}

.vp-home [vp-content] {
  margin-top: 1rem;
  margin-bottom: 3rem;

  h1 {
    font-size: 1.5rem;
  }
}

.vp-sidebar {
  scrollbar-color: var(--vp-c-text-subtle) transparent;
}

.youtube {
  display: block;
  position: relative;
  margin: 1rem 0 2rem;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  padding-bottom: 56.25%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

.youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

mark {
  padding: .125em .25em;
  outline: .125em solid var(--vp-c-accent);
  border-radius: .25em;
  background-color: var(--vp-c-accent);
  color: var(--vp-c-accent-text);
}

.theme-default-content p img,
.theme-default-content .custom-container {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

a.header-anchor::before {
  top: .05em;
  left: -1em;
  color: var(--vp-c-text-subtle);
}

.hint-container {
  margin-block: 1.75rem;
}
