:root,
:root.dark {
  --c-brand: #f7931b;
  --c-brand-light: #f9aa4b;
  --sidebar-width: 24rem;
  --c-tip: #4a90e2;

  scroll-behavior: smooth;
}

.youtube {
  display: block;
  position: relative;
  margin: 1rem 0 2rem;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  padding-bottom: 56.25%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

.youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

mark {
  padding: .125em .25em;
  outline: .125em solid var(--c-brand);
  border-radius: .25em;
  background-color: var(--c-brand);
  color: #fff;
}

.theme-default-content p img,
.theme-default-content .custom-container {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
