name: Build

on:
  # Run the build for pushes and pull requests targeting master
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout doc repo and its dependencies
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      # Setup Node
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
      # Install and build
      - name: Install
        run: npm ci
      - name: Build
        env:
          NODE_OPTIONS: --max_old_space_size=8192
          NODE_ENV: production
        run: |-
          npm run build
          > docs/.vuepress/dist/.nojekyll
      - name: Deploy
        if: success() && github.ref == 'refs/heads/master'
        uses: peaceiris/actions-gh-pages@v3
        with:
          publish_dir: ./docs/.vuepress/dist
          github_token: ${{ secrets.GITHUB_TOKEN }}
          cname: hey-bitcoin.de
          user_name: 'github-actions[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'
